body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#adminOptions button {
    display: block;
    width: 100%;
    margin: 5px 0;
}
button:hover {
    background-color: #218838;
}
/* Styles pour le bouton "Retour au site principal" */
.btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}

.btn-return:hover {
    background-color: #0056b3;
}

/* Styles pour la section de partage de message public */
#adminPublicMessage {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#publicMessageForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permet de redimensionner verticalement */
}

#publicMessageDisplay {
    font-weight: bold;
    color: #28a745; /* Vert pour le message public */
}

/* Styles pour l'affichage de la somme totale */
#totalContributions {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#totalContributions h3 {
    margin-top: 0;
}

#totalAmount {
    font-weight: bold;
    color: #28a745; /* Vert pour indiquer un montant positif */
}
#studentPhoto {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
}