<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polytechnique - Annuaire Étudiants</title>
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/recherche">Recherche</a></li>
            <li><a href="/createurs">Créateurs</a></li>
            <li><a href="/membres">Membres</a></li>
            
        </ul>
    </nav>

<section id="accueil" class="section-content active">
    <h1 class="orange">BIENVENUE A LA POLYTECHNIQUE UAC/PREPA</h1>
    <p>La polytechnique joue un rôle majeur dans le développement technologique et scientifique du monde moderne...</p>
    <p class="commentaires">La technologie est l’ensemble des connaissances, des outils et des techniques utilisés pour concevoir, développer 
            et améliorer des produits, des services et des systèmes dans divers domaines. Elle 
            joue un rôle essentiel dans le progrès humain, influençant des secteurs comme la communication, la médecine, l’industrie et l’éducation.</p>
        <div class="kazi">
            <img src="{{url_for('static', filename='images/inge1.png')}}">
        </div>
        <h1 class="orange">LA MESSE D'OUVERTURE DES ACTIVTES</h1>
        <div class="kazi2">
            <img src="{{url_for('static', filename='images/EQUIPE2.png')}}">
        </div>
    <h1 class="orange">LA FETE D'INTEGRATION POLYTECH</h1>
    <P class="commentaires">La fête d’intégration s’est déroulée au prestigieux village royal, marquant un moment clé pour la
            faculté de polytechnique avec la remise et reprise du nouveau délégué. Pour célébrer cet 
        événement, des bouteilles de champagne ont été ouvertes, laissant place à une ambiance festive et conviviale.</P>
        <div class="kazi2">
            <img src="{{url_for('static', filename='images/dele.png')}}">
        </div>
            <h1 class="orange">COLABORATEURS DU DELEGUE</h1>
            <P class="commentaires">Lors de cette cérémonie, le nouveau délégué a été officiellement présenté aux étudiants, accompagnés de ces collaborateurs.</P>
            <div class="kazi2">
                <img src="{{url_for('static', filename='images/EQUIPE.png')}}">
        </div>
            <h1 class="orange">PRESENTATION DU PROJET DEVELOPPER PAR LES ETUDIENTS DE PREPA</h1>
            <P class="commentaires">Un moment fort de la soirée a été l’intervention des étudiants de l’année préparatoire, qui ont envoyé un représentant pour 
                dévoiler leur ambition et leur expertise dans seulement 4 mois d'etudes sur projet axé sur le développement de sites Web.</P>
                <div class="kazi2">
                    <img src="projets.png" alt="Le Grand Simba entrain de defendre le projet de conception de site web le jour de l'integration facultaire de la polytechnique UAC|BUTEMBO ">
                    <img src="{{url_for('static', filename='images/projets2.png')}}" alt="Le Grand Simba avec le Dr Heritier le jour de l'integration facultaire">
                </div>
            <h1 class="orange">LA SOIREE DE L'INTEGRATION</h1>
            <P class="commentaires">Après ces présentations officielles, l’atmosphère s’est détendue avec le petit dadju et zey moos.</P>
            <h1 class="orange">LA PRESTATION DE ZEY MOOS</h1>
                <div class="kazi2">
                    <img src="{{url_for('static', filename='images/RAPEZEY.png')}}">
                </div>
            <h1 class="orange">LA PRESTATION DE PETIT DADJU</h1>
                <div class="kazi2">
                    <img src="{{url_for('static', filename='images/projets4.png')}}">
                </div>
            <h1 class="orange">COCKTAIL ET DANSE AU RYTHME DE LA SOIREE</h1>
            <P class="commentaires">échanges et danse ont rythmé la soirée, 
                            dans une ambiance électrique où chacun a pu pleinement profiter de ce moment d’intégration mémorable.</P>
                <div class="kazi2">
                    <img src="{{url_for('static', filename='images/projets5.png')}}">
                </div>                   
</div>
<div class="videoos">
            <section id="accueil">
                <h1 class="orange">REGARDER L'INTRO DES FESTIVITES D'INTEGRATION FACULTAIRE</h1>
                <P class="commentaires">échanges et danse ont rythmé la soirée, 
                    dans une ambiance électrique où chacun a pu pleinement profiter de ce moment d’intégration mémorable.</P>
                <div class="youtube">
                <a href="https://youtube.com/@legrandsimba?si=nT7IxzRa6FOo-bzW" target="_blank">Visitez notre chaîne YouTube</a>
                <p>ou vous pouvez juste</p>
                <a href="https://youtu.be/Q0eC0Zn9DIQ?si=e4WacGiySJ5vHBbO" target="_blank">Regarder la vidéo de la présentation de projet</a>
                <p>ou</p>
                <a href="https://youtu.be/Q0eC0Zn9DIQ?si=e4WacGiySJ5vHBbO" target="_blank">Regarder la vidéo du match d'integration</a>
                <p>ou</p>
                <a href="https://youtu.be/4WAzH9R9048?si=q5R1DYVktwexIwdv" target="_blank">Regarder l'intro de la video d'integration</a>
                <p>ou vous pouvez</p>
                <a href="https://youtu.be/rQ9wmlU09kg?si=F6kRlemYxrA8-lAe" target="_blank">Regarder la vidéo du match prepa vs L2</a><!-- pour relier le site web et la chaine youtube -->
                 <!--  <iframe width="160" height="40" src="https://youtube.com/@legrandsimba?si=nT7IxzRa6FOo-bzW" frameborder="0"></iframe>  -->
            </div>
            </section>
        </div>      
            <div>
                <div class="nom-avec-barres">
                    <hr>
                    <span><h1 class="polo">MATCH D'INTEGRATION FACULTAIRE</h1></span>
                    <hr>
                </div>
            
                <h1>Un Moment de Convivialité et de Défi Sportif</h2>
                    <P class="commentaires">Le match d’intégration a eu lieu dans une ambiance pleine d’énergie et de fair-play. Opposant les étudiants de l’année préparatoire aux anciens étudiants, cette rencontre a été un véritable test de
                cohésion et de détermination. Malgré tous les efforts fournis, notre équipe s’est inclinée sur un score de 6 à 2. Cependant, au-delà du résultat, cet événement a permis de renforcer les liens entre les différentes promotions et de partager un moment
                de sport et de fraternité. Ce n’est que le début, et cette expérience nous motive à progresser pour les prochains défis à venir. Félicitations à tous les participants pour leur engagement et leur esprit sportif !</p>
                <div class="kazi">
                    <img src="{{url_for('static', filename='images/PREPAA.png')}}">
                    <img src="{{url_for('static', filename='images/foot.png')}}">
                </div>
                <section class="pro">
                    <P class="commentaires">Le match de BasketBall d’intégration a eu lieu ce Jeudi 06 fevrier dans une ambiance pleine d’énergie et de fair-play. Opposant les étudiants de l’année préparatoire aux anciens étudiants, cette rencontre a été un véritable test de
                            cohésion et de détermination. Malgré tous les efforts fournis, notre équipe de l'année preparatoire s’est inclinée sur un score de 6 à 2. Cependant, au-delà du résultat, cet événement a permis de renforcer les liens entre les différentes promotions et de partager un moment
                            de sport et de fraternité</p>
                                <div class="kazi">
                                    <img src="{{url_for('static', filename='images/simba.png')}}">
                                    <p>Joueur de BasketBall / l'année preparatoire / UAC</p>                                 
                                    <img src="{{url_for('static', filename='images/basket.jpg')}}">
                                </div>
                                
                </section>
                
            
                    <!-- Vidéo (cachée au départ) -->
    <section id="accueil">
    </section>
    <h1>GENIE CIVIL ET L'ARCHITECTURE</h1>
            <p class="commentaires">Le génie civil et l’architecture sont deux disciplines complémentaires qui concernent la conception, la construction et la maintenance des infrastructures et des bâtiments.</p>
            <div class="kazi">
                <img src="{{url_for('static', filename='images/machine1.png')}}" alt="architecture">
            </div>
            <div class="kazi">
                <h1>GENIE ELECTRIQUE ET MECANIQUE</h1>
                <P class="commentaires">Le génie électrique est une branche de l’ingénierie qui concerne l’étude, la conception et l’application des systèmes électriques, électroniques et électromagnétiques. Il joue un rôle clé dans 
                    la production, la distribution et l’utilisation de l’énergie électrique, ainsi que dans le développement des technologies modernes comme l’automatisation, les télécommunications et l’électronique embarquée.</P>
                <img src="{{url_for('static', filename='images/photo1.png')}}" alt="electricien">
            </div>
            <div class="kazi">
                <h1>GENIE IINFORMATIQUE</h1>
                <P class="commentaires">Le génie informatique est une branche de l’ingénierie qui combine l’informatique et l’électronique pour concevoir, développer et optimiser des systèmes informatiques, logiciels et matériels. Il couvre un large 
                    éventail de domaines, allant du développement de logiciels aux systèmes embarqués, en passant par la cybersécurité et l’intelligence artificielle.</P>
            <img src="{{url_for('static', filename='images/photo2.png')}}" alt="informaticien">
                </div>
    
           
                
    </div>
              
                    
            </div>
        </section>




    <section id="apropos" class="section-content">
        <h1 class="orange">LES PROJETS REALISES</h1>
        <p class="commentaire">Dans notre promotion nous sommes une équipe passionnée, motivé2 par l'inovation et l'excellence. Chaque projet que nous réalisons
            reflète notre engagement, notre rigueur et notre créativité. nous réalisons souvent des maquettes de maisons : une conception soigné 
            alliant réalisme et innovantes architecturale. et des sites web : des planteforme intuitive et efficace, mettant en avant notre savoir faire numerique. nous 
            proposons des solutions novatrices qui démontrent notre maitrise des nouveles technologies.</P>
        <div class="partie">
            <div class="kazi">
                <img src="{{url_for('static', filename='images/kiso.png')}}">
              
                <a href="/membres" style="text-decoration: none;">
                    <button>Afficher les membres de la promotion</button>
                </a>
                <!-- Bouton pour accéder à la page des créateurs -->
        <div style="text-align: center; margin: 20px;">
            <a href="/createurs" style="text-decoration: none;">
                <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                    Voir les Créateurs du Site
                </button>
            </a>  
        </div>  
                
                <h1>PLAN DES MAISONS</h1>
                <img src="{{url_for('static', filename='images/plan01.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan02.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan03.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan04.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan1.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan2.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan001.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan002.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan003.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan004.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan005.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan006.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan007.png')}}" class="clickable-image">
                <img src="{{url_for('static', filename='images/plan008.png')}}" class="clickable-image">
                
            </div>
            <div id="imageModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage">
            </div>
           
        </div>
        
    </section>

    <section id="recherche" class="section-content">
        <h1>Recherche d'un étudiant</h1>
        <p>Entrez le nom ou post-nom de l’étudiant pour voir ses informations.</p>
        <input type="text" id="searchInput" placeholder="Nom ou Post-nom">
        <button onclick="searchStudent()">Rechercher</button>

        <div id="studentInfo" class="hidden">
            <img id="studentPhoto" src="" alt="Photo de l'étudiant">
            <h2 id="studentName"></h2>
            <p id="studentDetails"></p>
        </div>
        <div class="kazi">
            <img src="{{url_for('static', filename='images/inge2.png')}}">
        </div>  
        <a href="/recherche" class="btn">Voir le fiche d'un étudiant</a>
        
    </section>
    <!-- Bouton pour revenir en haut -->
    <button id="topButton">Retour en Haut</button>
    <footer>
        <p class="commentaires">&copy; 2025 les étudients de l'année preparatoire polytechnique/UAC</p>
    <p class="commentaires">année academique 2025-2026 le CP de la promotion Elie Safarie</p>
    <p class="commentaires">Concepteur du site Le grand simba - officiel site.</p>
        <div class="footer-container">
            <!-- Contact -->
            <div class="footer-item">
                <div class="icon-circle">📞</div>
                <p>Contact</p>
            </div>
            <div class="separator"></div>
    
            <!-- Réseaux sociaux -->
            <div class="footer-item">
                <div class="icon-circle">🌐</div>
                <p>Réseaux sociaux</p>
            </div>
            <div class="separator"></div>
    
            <!-- Concepteur -->
            <div class="footer-item">
                <div class="icon-circle">👨‍💻</div>
                <p>Big Simba concepteur</p>
            </div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    
</body>
</html>
